

.Fondo_consejos
    height: 2500px
    width: 100%
    background: #c3c3c3
    text-align: center
    position: relative
    top: 200px
    color: orange

.Titulo
    color: #003333
    font-size: 75px
    height: 100px
    width: 100%
    
.Caja-Titulo
    height: 100px
    width: 100%
    margin-top: 25px
    position: relative
    top: 50px 

.Consejo_1

    height: 300px
    width: 70%
    background: #003333
    position: relative
    top: 200px
    margin: 15px
    text-align: center

.Consejo_1 > h1
    position: relative
    margin-bottom: 25px
    font-size: 50px
    color: black
    float: left
    margin: 15px
    margin-bottom: 0px
     
.Consejo_1 > p
    height: 100px
    width: 500px
    position: relative
    color: white
    font-size: 15px
    float: left
    top: 100px

#Consejo-2
    position: relative
    float: right 

#Consejo-2 > h1
    float: right 
    
#Consejo-2 > p
    float: right 

#Consejo-3
    position: relative
    float: left 


#Consejo-4 
    position: relative
    float: right

#Consejo-4  > h1
    float: right 

#Consejo-4 > p
    float: right 

#Consejo-5
    position: relative
    float: left 

    