.Consejo_1
    display: inline-block
    float: left
    height: 300px
    width: 70%
    background: #003333
    position: relative
    top: 200px
    margin: 15px
    text-align: center

.Consejo_1 > h1
    position: relative
    margin-bottom: 25px
    font-size: 50px
    color: black
    float: left
    margin: 15px
    margin-bottom: 0px
     
.Consejo_1 > p
    height: 100px
    width: 500px
    position: relative
    color: white
    font-size: 15px
    float: left
    top: 100px


#Consejo-2
    position: relative
    float: right 

#Consejo-2 > h1
    float: right 
    
#Consejo-2 > p
    float: right 