
$keyframe-name = movimiento_inicial
@keyframes {$keyframe-name}
    0%
        opacity: 0
        transform: translateY(-150px)

    50%
        opacity: 0
        transform: translateY(-150px)
    
    100%
        opacity: 1

$keyframe-name = movimiento_circulo
@keyframes {$keyframe-name}
    0%
        opacity: 0
    70%
        opacity: 0

    100%
        opacity: 1

$keyframe-name = boton_crecimiento
@keyframes {$keyframe-name}
    0%
        opacity: 1

    100%
        height: 100px
        width: 100px
        opacity: 1


.video-background

    height: 750px

    opacity: 0.5
    position: absolute
    filter: blur(8px)


.Title
    /*background-image: -webkit-linear-gradient(top, black 75%, white)*/
    
    height: 750px
    width: 100%
    background: black


.Title_h1,.Title_p,.Title_h2,.Circle_button
    position: relative
    text-align: center
    text-transform: uppercase
    font-weight: bolder
    color: white
    top: 150px
    


.Title_h1
    margin-bottom: 20px
    font-size: 50px
    color: white
    -webkit-animation-duration: 1s
    -webkit-animation-fill-mode: both
    -webkit-animation-name: movimiento_inicial 

.Title_p
   
    font-size: 20px
    font-weight: lighter
    position:relative
    margin-left: 25% 
    margin-right: 25% 
    -webkit-animation-duration: 2s
    -webkit-animation-fill-mode: both
    -webkit-animation-name: movimiento_inicial 
    top: 30px;

.Title_h2
    margin-top: 150px
    margin-bottom: 5px
 
    color: #ffa500
    -webkit-animation-duration: 3s
    -webkit-animation-fill-mode: both
    -webkit-animation-name: movimiento_inicial 

.button-see-my-blogs, .button-follow-me 
    height: 40px
    width: 150px
    background: orange 
    border-radius: 20px 
    text-align: center
    cursor: pointer
    -webkit-animation-duration: 5s
    -webkit-animation-fill-mode: none 
    -webkit-animation-name: movimiento_circulo
    bottom: 200px
    position: absolute
    margin-bottom: 50px
    display: inline-block
    transform: translate(-50%, -50%);
    left: 44%
    border: 2px solid orange

.button-see-my-blogs-text, .button-follow-me-text
    font-size: 15px
    position: relative
    vertical-align: middle
    top: 5px
    color: 	white
    font-weight: bolder
    

.button-follow-me 
    left: 56%
    z-index: 0.25 
    background: none
    border: 2px solid #D0D0D0

.button-follow-me-text
    color: #D0D0D0
    text-decoration: none

.Circle_button
    position: relative
    height: 75px
    width: 75px
    background: orange
    left: 50%;
    transform: translate(-50%, -50%);
    top: 200px
    border-radius: 50%
    -webkit-animation-duration: 5s
    -webkit-animation-fill-mode: none 
    -webkit-animation-name: movimiento_circulo

    cursor: pointer

 


.arrow
    height: 50%
    width: 50%
    color: white
    position: relative
    top: 30%
    transform: rotate(90deg)

